# Since the ".env" file is gitignored, you can use the ".env.example" file to
# build a new ".env" file when you clone the repo. Keep this file up-to-date
# when you add new variables to `.env`.

# This file will be committed to version control, so make sure not to have any
# secrets in it. If you are cloning this repo, create a copy of this file named
# ".env" and populate it with your secrets.

# When adding additional environment variables, the schema in "/src/env.js"
# should be updated accordingly.

# Next Auth
# You can generate a new secret on the command line with:
# npx auth secret
# https://next-auth.js.org/configuration/options#secret
AUTH_SECRET="L8x0OIJcBO4uL2zoTkXZSmzXqH95In+Z0ZpGPiKJw0A="

# Drizzle
# DATABASE_URL="file:./db.sqlite"
DATABASE_URL=postgresql://postgres:[Nw18112541]@db.xlwbgzottgtotgdfmblz.supabase.co:5432/postgres


# SMTP
SMTP_HOST="localhost"
SMTP_PORT=1025

NEXT_PUBLIC_SUPABASE_URL=https://xlwbgzottgtotgdfmblz.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inhsd2Jnem90dGd0b3RnZGZtYmx6Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjQxMzEzNjUsImV4cCI6MjA3OTcwNzM2NX0.Ta1ulq1InhJfCSZApTvB-1JdjavEkieTwWurwHeOxqU

